h1 {color: rgb(178, 228, 211); text-align: center;}

body {background-image:url(Tahoe_North_Shore_from_the_East_Shore.jpg)}

.parap {color: beige; text-align: center; font-size: 50px;}

.parap {text-decoration: underline;}

.parap {text-decoration-style: wavy;}