h1 {color: rgb(178, 228, 211); text-align: center;}

body {background-image:url(Tahoe_North_Shore_from_the_East_Shore.jpg)}

.parap {color: beige; text-align: center; font-size: 50px;}



.parap {text-shadow: #FC0 7px 0 10px;}

 {rcorners1
    border-radius: 25px;
    background: #73AD21;
    padding: 20px;
    width: 200px;
    height: 150px;}
.parap1 {border-style: solid; width: 90%; }
.parap1 {border-radius: 30px;}